<a href="https://colab.research.google.com/github/sanikachiddarwar/python-pep/blob/main/Employee_ORM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sqlalchemy.orm import declarative_base, sessionmaker #declarative_base() → Creates a base class for ORM models (tables).
#sessionmaker → Used to create sessions, which allow us to interact with the database.
from sqlalchemy import Column, Integer, String  #Column → Defines a column in a table.Integer, String → Data types for table columns.
from sqlalchemy import create_engine #create_engine() → Creates a database connection (engine).
#step 1 connection
engine = create_engine("sqlite:///company.db") #Engine manages communication with the database and
#Connects to an SQLite database named company.db
#step 2 create base class/parent class
Base = declarative_base()
#step 3 Define table
class Employee(Base):
    __tablename__ = "employees"
    id = Column(Integer, primary_key=True) #primary_key=True → uniquely identifies each row
    name = Column(String)
    age = Column(Integer)
    department = Column(String)
#step 4 Create Table in Database
Base.metadata.create_all(engine)

In [ ]:
#step 5 Create Session
#Creates a session object (Used to add, update, delete, and query data in the database)
Session = sessionmaker(bind = engine)
session = Session()
#Insert Records
e1 = Employee( name = "Nobita", age = 22, department = "Collector")
e2 = Employee( name = "Shizuka", age = 21, department = "peon")
session.add(e1)
session.add(e2)
session.commit()#Saves (commits) all pending changes to the database (Data is now permanently stored now)
#step 6 Fetch All Records
employees = session.query(Employee).all()
for i in employees:
    print(i.id,i.name,i.age,i.department)

1 Nobita 22 Collector
2 Shizuka 21 peon

In [ ]:
#Update a Record
employees = session.query(Employee).filter_by(id = 1).first()
employees.name='naman'
session.commit()
print("employee updated")
employees = session.query(Employee).all()
for i in employees:
    print(i.id,i.name,i.age,i.department)

employee updated
1 naman 22 Collector
2 Shizuka 21 peon

In [ ]:
#Delete
emp = session.query(Employee).filter(Employee.id == 1).first()
if emp:
  session.delete(emp)
  session.commit()
  print("deleted")
employees = session.query(Employee).all()
for i in employees:
    print(i.id,i.name,i.age,i.department)

deleted
2 Shizuka 21 peon

In [ ]:
"""import os
print(os.getcwd())
print("Above is path of Database")
stu = session.query(Employee).filter(Employee.age>20).all()
for i in stu:
    session.delete(i)
    session.commit()"""

'import os\nprint(os.getcwd())\nprint("Above is path of Database")\nstu = session.query(Employee).filter(Employee.age>20).all()\nfor i in stu:\n    session.delete(i)\n    session.commit()'

In [ ]:
emps = session.query(Employee).filter(
    Employee.name == "Nobita",
    Employee.age > 21
).all()

print("Number of records found:", len(emps))
for i in emps:
    print(i.id, i.name, i.age, i.department)

Number of records found: 0

In [ ]:
#one_or_more
emp = session.query(Employee).filter(
    Employee.id == 100
).one_or_none()

if emp:
    print(emp.name)
else:
    print("No record found")

No record found

In [ ]:
emp = session.query(Employee).filter(
    Employee.id == 100
).one_or_none()

if emp:
    print(emp.name)
else:
    print("No record found")

No record found

In [ ]:
from sqlalchemy import desc

emp = session.query(Employee).order_by(desc(Employee.id)).all()
for i in emp:
    print(i.id, i.name, i.age, i.department)

2 Shizuka 21 peon

In [ ]:
print("Helo")

Helo