<a href="https://colab.research.google.com/github/sanikachiddarwar/python-pep/blob/main/Finance_Tracker_Mini_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#imports

from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Float, text
from sqlalchemy.orm import declarative_base, sessionmaker, relationship

In [3]:
# database connection

engine = create_engine("sqlite:///fintrack.db", echo=True)

Base = declarative_base()

Session = sessionmaker(bind=engine)
session = Session()

In [4]:
#table created
# Category table
class Category(Base):
    __tablename__ = "categories"

    id = Column(Integer, primary_key=True)
    name = Column(String)

    expenses = relationship("Expense", back_populates="category")

# Expense table
class Expense(Base):
    __tablename__ = "expenses"

    id = Column(Integer, primary_key=True)
    title = Column(String)
    amount = Column(Float)
    date = Column(String)

    category_id = Column(Integer, ForeignKey("categories.id"))

    category = relationship("Category", back_populates="expenses")


# Subscription table
class Subscription(Base):
    __tablename__ = "subscriptions"

    id = Column(Integer, primary_key=True)
    name = Column(String)
    amount = Column(Float)
    next_date = Column(String)


# Budget table
class Budget(Base):
    __tablename__ = "budgets"

    id = Column(Integer, primary_key=True)
    month = Column(String)       # YYYY-MM
    limit = Column(Float)


# Create tables
Base.metadata.create_all(engine)

2026-02-12 19:59:11,440 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2026-02-12 19:59:11,444 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("categories")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("categories")

2026-02-12 19:59:11,448 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-12 19:59:11,452 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("categories")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("categories")

2026-02-12 19:59:11,457 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-12 19:59:11,462 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("expenses")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("expenses")

2026-02-12 19:59:11,465 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-12 19:59:11,469 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("expenses")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("expenses")

2026-02-12 19:59:11,472 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-12 19:59:11,477 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("subscriptions")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("subscriptions")

2026-02-12 19:59:11,480 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-12 19:59:11,483 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("subscriptions")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("subscriptions")

2026-02-12 19:59:11,485 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-12 19:59:11,487 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("budgets")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("budgets")

2026-02-12 19:59:11,489 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-12 19:59:11,493 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("budgets")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("budgets")

2026-02-12 19:59:11,496 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-12 19:59:11,500 INFO sqlalchemy.engine.Engine
CREATE TABLE categories (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE categories (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)

2026-02-12 19:59:11,503 INFO sqlalchemy.engine.Engine [no key 0.00414s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00414s] ()

2026-02-12 19:59:11,524 INFO sqlalchemy.engine.Engine
CREATE TABLE subscriptions (
	id INTEGER NOT NULL,
	name VARCHAR,
	amount FLOAT,
	next_date VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE subscriptions (
	id INTEGER NOT NULL,
	name VARCHAR,
	amount FLOAT,
	next_date VARCHAR,
	PRIMARY KEY (id)
)

2026-02-12 19:59:11,527 INFO sqlalchemy.engine.Engine [no key 0.00311s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00311s] ()

2026-02-12 19:59:11,551 INFO sqlalchemy.engine.Engine
CREATE TABLE budgets (
	id INTEGER NOT NULL,
	month VARCHAR,
	"limit" FLOAT,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE budgets (
	id INTEGER NOT NULL,
	month VARCHAR,
	"limit" FLOAT,
	PRIMARY KEY (id)
)

2026-02-12 19:59:11,553 INFO sqlalchemy.engine.Engine [no key 0.00226s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00226s] ()

2026-02-12 19:59:11,570 INFO sqlalchemy.engine.Engine
CREATE TABLE expenses (
	id INTEGER NOT NULL,
	title VARCHAR,
	amount FLOAT,
	date VARCHAR,
	category_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(category_id) REFERENCES categories (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE expenses (
	id INTEGER NOT NULL,
	title VARCHAR,
	amount FLOAT,
	date VARCHAR,
	category_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(category_id) REFERENCES categories (id)
)

2026-02-12 19:59:11,573 INFO sqlalchemy.engine.Engine [no key 0.00358s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00358s] ()

2026-02-12 19:59:11,594 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [5]:
#functions
def add_category():
    name = input("Category name: ")
    session.add(Category(name=name))
    session.commit()
    print("Category added")
def add_expense():
    title = input("Expense title: ")
    amount = float(input("Amount: "))
    date = input("Date YYYY-MM-DD: ")
    category_id = int(input("Category ID: "))

    session.add(Expense(
        title=title,
        amount=amount,
        date=date,
        category_id=category_id
    ))
    session.commit()
    print("Expense added")
def update_expense():
    eid = int(input("Expense ID: "))
    expense = session.query(Expense).filter(Expense.id == eid).first()

    if expense:
        expense.title = input("New title: ")
        expense.amount = float(input("New amount: "))
        expense.date = input("New date: ")
        session.commit()
        print("Expense updated")
    else:
        print("Expense not found")
def delete_expense():
    eid = int(input("Expense ID: "))
    expense = session.query(Expense).filter(Expense.id == eid).first()

    if expense:
        session.delete(expense)
        session.commit()
        print("Expense deleted")
    else:
        print("Expense not found")
def search_by_date():
    date = input("Enter date (YYYY-MM-DD): ")
    expenses = session.query(Expense).filter(Expense.date == date).all()

    for e in expenses:
        print(e.title, "-", e.amount)

In [ ]:
#sql report
def category_report():
    sql = """
    SELECT categories.name, SUM(expenses.amount)
    FROM categories
    JOIN expenses ON categories.id = expenses.category_id
    GROUP BY categories.name
    """
    result = session.execute(text(sql))
    print("\nCategory Wise Expense Report")
    for row in result:
        print(row[0], "â†’", row[1])


def set_budget():
    month = input("Month (YYYY-MM): ")
    limit = float(input("Budget limit: "))

    session.add(Budget(month=month, limit=limit))
    session.commit()
    print("Monthly budget set")


def budget_alert():
    month = input("Month (YYYY-MM): ")

    total = session.execute(
        text("SELECT SUM(amount) FROM expenses WHERE date LIKE :m"),
        {"m": f"{month}%"}
    ).scalar() or 0

    budget = session.query(Budget).filter(Budget.month == month).first()

    if budget and total > budget.limit:
        print("Budget limit exceeded")
    else:
        print("Within budget limit")


#menu

while True:
    print("""

1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit
""")

    choice = input("Choose: ")

    if choice == "1":
        add_category()
    elif choice == "2":
        add_expense()
    elif choice == "3":
        update_expense()
    elif choice == "4":
        delete_expense()
    elif choice == "5":
        search_by_date()
    elif choice == "6":
        category_report()
    elif choice == "7":
        set_budget()
    elif choice == "8":
        budget_alert()
    elif choice == "9":
        break
    else:
        print("Invalid choice")

1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit

Choose: 1
Category name: food
2026-02-12 20:00:45,374 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2026-02-12 20:00:45,383 INFO sqlalchemy.engine.Engine INSERT INTO categories (name) VALUES (?)

INFO:sqlalchemy.engine.Engine:INSERT INTO categories (name) VALUES (?)

2026-02-12 20:00:45,385 INFO sqlalchemy.engine.Engine [generated in 0.00195s] ('food',)

INFO:sqlalchemy.engine.Engine:[generated in 0.00195s] ('food',)

2026-02-12 20:00:45,389 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

Category added


1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit

Choose: 2
Expense title: food
Amount: 3
Date YYYY-MM-DD: 1243-43-43
Category ID: 2324
2026-02-12 20:01:10,281 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2026-02-12 20:01:10,285 INFO sqlalchemy.engine.Engine INSERT INTO expenses (title, amount, date, category_id) VALUES (?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO expenses (title, amount, date, category_id) VALUES (?, ?, ?, ?)

2026-02-12 20:01:10,287 INFO sqlalchemy.engine.Engine [generated in 0.00263s] ('food', 3.0, '1243-43-43', 2324)

INFO:sqlalchemy.engine.Engine:[generated in 0.00263s] ('food', 3.0, '1243-43-43', 2324)

2026-02-12 20:01:10,290 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

Expense added


1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit

Choose: 2